$primary: #184d6a;
$secondary: #f8c515;
$tertiary: #235f65;

$lightgrey: #dfdfdf;

.bg_primary {
  background-color: $primary;
}

.bg_secondary {
  background-color: $secondary;
}

.bg_tertiary {
  background-color: $tertiary;
}
